<div id="sideBarMain">
    <!-- <div>
        <iframe src="https://ghbtns.com/github-btn.html?user=1920853199&repo=go-blog&type=star&size=large&count=true" frameborder="0" scrolling="0" width="160px" height="30px"></iframe>
        <iframe src="https://ghbtns.com/github-btn.html?user=1920853199&repo=go-blog&type=fork&size=large&count=true" frameborder="0" scrolling="0" width="160px" height="30px"></iframe>
    </div> -->
    <div id="sidebar_search" class="sidebar-block">
        <h3 class="catListTitle diyBg">搜索</h3>
        <form role="search" method="get" class="search-form" action="list.html">
            <label>
                <span class="screen-reader-text">Search for:</span>
                <input type="search" class="search-field" placeholder="Search &hellip;" value="" name="s">
            </label>
            <button type="submit" class="search-submit">
                提交
            </button>
        </form>
    </div>
    <div id="sidebar_news" class="newsItem sidebar-block"><!--done-->
        <h3 class="catListTitle diyBg">站点公告</h3>
        <div id="blog-news" style="padding: 15px">
            <div id="news_block">
                {{$.notice}}
            </div>
        </div>

    </div>

    {{/*<div id="sidebar_profile" class="newsItem"><!--done-->
        <h3 class="catListTitle diyBg">关于我</h3>
        <div id="blog-profile">
            <div id="profile_block">
                姓名：
                <a title="{{$.name}}" href="javascript:;">
                    {{$.name}}
                </a>
                <br>
                简介：
                <a href="javascript:;" title="{{str2html $.remark_html_code}}" class="editormd-html-preview">
                    {{str2html $.remark_html_code}}
                </a>
                <br>
                <div style="text-align: center;margin-top: 20px">
                    <a href="javascript:;">
                        <img width="80%" src="{{$.image}}">
                    </a>
                </div>
                <br>
                <div id="p_b_follow"></div>
            </div>
        </div>

    </div>
    */}}
    <div id="sidebar_categories">

        <div id="sidebar_postarchive" class="catListPostArchive sidebar-block">
            <h3 class="catListTitle diyBg">标签云</h3>
            <div style="padding: 15px">
            {{range $k,$v := $.Tag}}
                <a style="display: block;float: left;padding: 5px;color:#279d59;margin: 8px 12px 8px 0;background: #f6f6f1;<!--font-size: {{$v}}px-->" title="{{$k}}" href="/list.html?tag={{$k}}">
                    {{$k}}
                </a>
            {{end}}
            <div style="clear: both"></div>
            </div>
        </div>

    </div>

    <div id="sidebar_tags" class="catListPostArchive sidebar-block">
        <h3 class="catListTitle diyBg">随笔档案({{$.DateCount}})</h3>
        <ul>
            {{range $k,$v := $.DateTimeKey}}
                <li>
                    <a title="{{StringReplace $v "-" "年"}}月" href="/list.html?date={{$v}}" rel="">
                        {{StringReplace $v "-" "年"}}月({{index $.DateTime $v}})
                    </a>
                </li>
            {{end}}
        </ul>


    </div>

    <div id="sidebar_topViewedPosts" class="sidebar-block">
        <div class="catListView">
            <h3 class="catListTitle diyBg">阅读排行榜</h3>
            <div id="TopViewPostsBlock">
                <ul style="word-break:break-all">
                    {{range $k,$v := $.ArticlesReadSort}}
                        <li>
                            <a title="{{$v.Title}}" href="/detail/{{$v.Id}}.html">
                                {{IndexForOne $k 1 1}}. {{$v.Title}}({{$v.Pv}})
                            </a>
                        </li>
                    {{end}}
                </ul>
            </div>
        </div>
    </div><div id="sidebar_review" class="sidebar-block">
        <div class="catListView">
            <h3 class="catListTitle diyBg">最新评论({{$.ReviewCount}})</h3>
            <div id="ReviewBlock">
                <ul style="word-break:break-all">
                    {{range $k,$v := $.Review}}
                        <li>
                            <a title="{{str2html $v.Review}}" href="/detail/{{$v.ArticleId}}.html">
                                {{str2html $v.Review}}
                            </a>
                        </li>
                    {{end}}
                </ul>
            </div>
        </div>
    </div>
</div>

<style>
    .search-form{display:block;position:relative;width:100%;margin:0;padding:0;overflow:hidden}.search-form .screen-reader-text{display:none}.search-form .search-field{display:inline-block;margin:0;width:100%;padding:.7em 45px .7em .7em;background:#fff;border:1px solid #ddd;font-size:1em;color:#333;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;-webkit-appearance:none}.search-form .search-submit{position:absolute;top:0;right:0;border:none;background:transparent;padding:.8em .7em 0 0;cursor:pointer}.search-form .search-submit .genericon-search{display:inline-block;width:24px;height:24px;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;font-size:24px;line-height:1;font-family:'Genericons';text-decoration:inherit;font-weight:400;font-style:normal;vertical-align:text-bottom;color:#777;content:'\f400'}.search-form .search-submit:hover .genericon-search{color:#333}
</style>
